In [2]:
#exercise 2:

# Data Science Tools and Ecosystem

In [3]:
#exercise 3:

# Introduction
**In this notebook, Data Science Tools and Ecosystem are summarized.**

In [5]:
#exercise 4:

**Some of the popular languages that Data Scientists use are:**

1. Python
2. Sql
3. R Studio

In [6]:
#exercise 5:

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

In [7]:
#exercise 6:

|Data Science Tools|
|------------------|
|Python|
|Sql|
|Apache Hadoop|
|R studio|

In [8]:
#exercise 7:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
#exercise 8:

In [10]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#exercise 9:

In [12]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [13]:
#exercise 10:

**Objectives:**

- List popular languages for Data Science
- Identify open-source tools used in Data Science
- Understand basic arithmetic operations in Python
- Create markdown cells in Jupyter Notebook
- Perform simple data analysis tasks

In [14]:
#exercise 11:

## Author

**D.R.KARTHICK KUMAR**